[2021-10-31 11:42] estanglerbm opened #1162 "Two-way bind @ syntax breaks one-way bind"
Perhaps two-way bind @ syntax (i.e. value="@{myprop}") is not supported yet, but it doesn't even work for one-way binding;  it won't update at all when the source changes.  (Broken in JS and SWF, works fine in Flex.)

See attached example.
[TestTwoWayBinding.mxml.txt](https://github.com/apache/royale-asjs/files/7448669/TestTwoWayBinding.mxml.txt)

[2021-11-01 08:42] #1019 closed

[2021-11-01 08:42] #1021 closed

[2021-11-02 06:40] #1131 closed

[2021-11-08 07:14] Harbs opened #1163 "trace no longer stripped out"
Here is a very simple app which uses trace.

[code]
`Language.trace` has a "debug comment" of `@royaledebug` This is suposed to cause `if(!goog.DEBUG)return;` to be inserted at the top of the function. That line allows the Google Complier to strip out the entire function and any references to it in the app using dead code removal.

It's not actually being removed. Currently, `Language.trace` is ou

[2021-11-08 07:40] Harbs commented on #1163
It seems like it is the `@nocollapse` being inserted that's causing the issue.

[2021-11-08 07:52] Harbs commented on #1163
I don't understand why `@nocollapse` is being added to methods at all. My understanding was that it's needed in some cases for accessors, but it seems like methods should be re-nameable.

[2021-11-13 02:10] greg-dove opened #1165 "Emulation Timer class does not match original behaviour of the native flash version"
The 'timerComplete' event is sent whenever stop() is called, and the end sequence of a repeat calls 'timerComplete' before the last 'timer' event, which is the opposite order of the original flash version.

[2021-11-13 02:14] #1165 closed

[2021-11-15 23:07] #1152 closed

[2021-11-16 01:05] GitSheedy opened #1166 "Troubles with loading some resources from asdoc (ie. https://royale.apache.org/asdoc/#!mx.core/Application)"
Hi,
Hopefully this is the right place to log an issue with the asdoc pages/app?
It appears some pages from the Royale asdoc reference do not load successfully.
The only ones I've found to date all related to mx.core pages, namely: Application, UITextField and UITextFormat (oddly enough the first and last 2 pages under mx.core). ie. https://royale.apache.org/asdoc/#!mx.core/Application
These proble

[2021-11-20 19:36] jfmherokiller commented on #1166
I have encountered this issue as well and attempted to use firefox webdev tools to see whats up. I think I saw a json asset failing to download on the pages that only say "loading"

[2021-11-29 14:02] Harbs commented on #1163
@greg-dove @joshtynjala any insights?

[2021-11-29 14:04] Harbs commented on #1166
Thanks for reporting this. We're looking into ASDocs. It looks like there's currently an issue with the generation that needs to be fixed.

[2021-11-30 04:17] greg-dove commented on #1163
I took a look at your example, @Harbs and I believe the original issue with trace is solved with the export suppression fixes. For the nocollapse question, I don't know the answer, but it has been there since the end of June 2020 and was related to Josh's work on the refactor of the output, so I can only assume it was needed at least during part of those changes - Josh may perhaps recall the detai

[2021-11-30 19:07] joshtynjala commented on #1163
I found that preventing symbol renaming required `@nocollapse` to be added to more fields (not just accessors). I don't remember the exact details, but I vaguely recall that static fields (including methods) needed it.

That being said, I don't know why this would prevent a static method like `Language.trace()` from being removed as dead code.

Potentially, a solution might be to omit `@nocollapse

[2021-11-30 19:17] greg-dove commented on #1163
@joshtynjala I have not 100% confirmed that it is dead-code-eliminated, but the export suppression alone has left no obvious hint of it still being there in the release build. I can try and debug into the compiler this weekend to see if it is actually already being completely dead-code eliminated.

[2021-11-30 19:21] Harbs commented on #1163
It also looks like `@nocollapse` is used for getters (setters?) but not for public vars.

[2021-11-30 19:30] Harbs commented on #1163
I just retested and `trace` is still there in release.

[2021-11-30 19:31] Harbs commented on #1163
This is the `asconfig` file I used:
[code]

[2021-11-30 21:18] greg-dove commented on #1163
In what way is it there? if you type **org.apache.royale.utils.Language** into console, you should see undefined (because nothing is exported now for Language).
If not, please make sure you are using a recent build of Language.swc and and of the compiler

[2021-12-01 07:33] Harbs commented on #1163
Search the minified code for `trace`. You will see two instances:
1. `y.trace=m()`
2. `jf.prototype.Ia=function(){y.trace('foo')};`

The content of the trace method is removed, but the function still exists and every case where it's called is not being removed which can add significantly to output.

[2021-12-01 07:42] Harbs commented on #1163
I'm curious why `org.apache.royale.utils.Language` does not exist in output, but we have 194 other `org.apache.royale` classes whose names are preserved.

Looking at. the js output of `org.apache.royale.utils.CSSUtils`, I don't see much difference between that and `org.apache.royale.utils.Language`.

[2021-12-01 08:03] greg-dove commented on #1163
Got it, thanks. I can look into it this coming weekend.

[2021-12-01 08:08] greg-dove commented on #1163
Language is the exception in this case. I added @royalesuppressexport some time ago to get this result and it was as it is now. There was a time in between when it wasn't working, but it is again now.

[2021-12-06 17:12] Harbs opened #1167 "Add bdd style testing"
I'd like to add BDD style assertions to `RoyaleUnit`. My intention is to implement an `expect` interface similar to https://www.chaijs.com/guide/styles/#expect and http://man.hubwiz.com/docset/Chai.docset/Contents/Resources/Documents/chaijs.com/api/bdd/index.html

Not all of these are applicable to ActionScript and there might be some additional ones that make sense in ActionScript.

The more inte

[2021-12-13 01:53] GitSheedy commented on #1166
Just checking in on this one @Harbs? Is there someone actively looking into this, or is there any rough timeframe on when this could be resolved? We are finding many instances of this issue throughout the documentation.

[2021-12-13 09:23] Harbs commented on #1166
I fixed an issue with the scripts for SparkRoyale yesterday. I have not had a chance yet to see if that fixes issues with compiling ASDocs, but it might. I'll try to get to it this week. Feel free to ping me if I forget...

[2021-12-14 12:34] EshaanKumar opened #1168 "TitleBar in Panel is not populated."

[2021-12-14 12:58] ekumar2 opened #1169 "Title Bar not working in Emulation of mx. Works in Flash"
mx.containers.Panel emulation in Royale doesn't populate the titleBar, while in Flash Panel it does.

[2021-12-14 12:59] #1168 closed

[2021-12-14 12:59] EshaanKumar commented on #1168
Closed as opened and tracking via another issue

[2021-12-15 02:57] #1169 closed

[2021-12-19 18:18] greg-dove opened #1170 "Some JS events are being dispatched as Royale events but received as native events"
Examples are emulation IndexChangedEvent which has a 'change' type and is being sent via the browser dom. This is likely for all sub-classes that have event type names that mean they are routed through the browser dom.

If a Royale event is dispatched, that is what the listener should receive.

[2021-12-19 18:28] #1170 closed

[2021-12-19 19:21] Harbs commented on #1170
Maybe you should add a test that a browser event on an element remains a browser event?

[2021-12-19 19:49] greg-dove commented on #1170
Not sure what you mean... how could it be otherwise? By browser event, you mean the native JS 'Event' or 'KeyboardEvent' etc, right? I don't think you can dispatch anything in dom that is not of these known types...

[2021-12-19 19:50] Harbs commented on #1170
Not sure what I mean either, but what happens if it's *supposed* to on the element and not on the Royale component? Not sure if it makes a difference.

[2021-12-19 20:03] greg-dove commented on #1170
At the moment there are conversions from browser events into Royale events based on constructor name for things like MouseEvent, KeyboardEvent. These probably only work for browser/user generated events I think.
And for outbound events (dispatched manually from Royale code), if they have an event-type name that is also 'native' (like 'change' or 'mouseup' for example) they are created as native br

[2021-12-29 22:17] #111 closed

[2021-12-29 22:27] Harbs commented on #223
We have a lot of open issues. Anyone know if this is still an issue?

[2021-12-29 22:44] Harbs commented on #73
There's no longer an error.

[2021-12-29 22:44] #73 closed

[2021-12-29 22:45] Harbs commented on #44
Fixed.

[2021-12-29 22:45] #44 closed

[2021-12-29 22:46] #91 closed

[2021-12-29 22:46] Harbs commented on #95
Fixed

[2021-12-29 22:46] #95 closed

[2021-12-29 22:50] Harbs commented on #380
We have the routing page here: https://apache.github.io/royale-docs/features/routing

Not sure where the best place for this info is. @cottage14 what do you think?

[2021-12-29 22:56] Harbs commented on #530
The instructions are not very clear on how to build. I think the easiest path for the tutorial is using `asconfig.json` to configure the project. @cottage14 thoughts?

[2021-12-30 14:56] cottage14 commented on #530
I will take a look over the next day or so. We are much involved with
closing up the house of a dear friend who died just at Christmas.

On Wed, Dec 29, 2021 at 6:56 PM Harbs ***@***.***> wrote:

--
Andrew Wetmore

Editor, Moose House Publications <https://moosehousepress.com>
Editor-Writer, The Apache Software Foundation <https://apache.org>

[2021-12-30 17:23] Harbs commented on #530
No worries. So sorry to hear! 😢

[2021-12-30 18:42] cottage14 commented on #380
It is in the menu under "features and concepts". Is there a better place
for it?

On Wed, Dec 29, 2021 at 6:50 PM Harbs ***@***.***> wrote:

--
Andrew Wetmore

Editor, Moose House Publications <https://moosehousepress.com>
Editor-Writer, The Apache Software Foundation <https://apache.org>

[2021-12-30 18:50] Harbs commented on #380
My question was because you created a stub above under "application tutorial". Both places make sense, but currently the one under application tutorial is just a stub.

Should we delete that and close this issue or somehow cross-pollinate? Or maybe move it to tutorial?

[2021-12-30 18:54] cottage14 commented on #380
Ah. I will go look. I think the information should not hide in a tutorial,
but that the tutorial could reference it in a link. I will try to figure
out where it can best do that

On Thu, Dec 30, 2021 at 2:50 PM Harbs ***@***.***> wrote:

--
Andrew Wetmore

Editor, Moose House Publications <https://moosehousepress.com>
Editor-Writer, The Apache Software Foundation <https://apache.org>

[2021-12-30 21:57] Harbs opened #1171 "Improve SimpleCSSValuesImpl"
Currently SimpleCSSValuesImpl gets style values like so:
1. returns the value from the underlying style if it exists.
2. Walks up the parent tree and returns the parent value if it's inherited.*
3. I uses a lookup for either css class names or Class names to get assigned style info
4. The Class names are saved in compiled MXML and added to the SimpleCSSValuesImpl by a call to `ValuesManager.values

[2021-12-31 09:53] Harbs commented on #1171
After thinking about this some more:
* It seems like instead of adding to `IStyleableObject`, we should add a new interface (`ICSSStyleable`) which inherits from `IStyleableObject`.
* I'm not sure if `UIBase` should implement `ICSSStyleable` or there should be a subclass of that which does.
* There should probably be 5 distinct methods in `ICSSStyleable`.
   1. `saveStyle` (or similar) would save

[2021-12-31 10:41] estanglerbm commented on #1171
I haven't measured specifically, but a single DOM parentNode is pretty quick (it's not an expensive traversal and doesn't modify the DOM).

I think the recursion (classes + containers) of each getStyle() call is more the issue, in general, since getStyle() is called so much.

[2021-12-31 17:28] aharui commented on #1171
I'd recommend modifying a version of SimpleCSSValuesImpl so that it can log all calls to getStyle so we truly understand why it is being called.  If 99% is for bead lookup, then optimize bead lookup.  There shouldn't be many, if any, calls to getStyle in JS.  Also, the parent shouldn't be involved if the style is not inheriting.

[2022-01-11 06:18] atta94 opened #1172 "MaskedTextInput is not taking input in alpha-numeric number"
CODE:
<cc:MaskedTextInput paddingBottom="1" paddingLeft="1" paddingRight="1" paddingTop="1" errorTextColor="#000000" color="#000000" id="cs_NTN_No"
                                                inputMask="{parentApplication.editMasks.NTNEditMask}"
                                                required="false" x="433" y="276.5" width="153" textAlign="left" restrict="A-Z/a-z/0-9"

[2022-01-19 12:22] yishayw commented on #815
@aharui , I know it's been a while, but can you explain why the extra param is necessary. There is code that only runs when parent is null without which the menu does not display properly in our app.

[2022-01-21 16:23] pashminakazi opened #1173 "DataGrid Dataprovider doesn't accept XML Values"
**In Royale :**
Simple Example : https://paste.apache.org/c2wvg
Output :
![image](https://user-images.githubusercontent.com/42200979/150558876-6f547c8c-80f4-4953-a566-242e1d1af2b2.png)

Debug Screenshots : There's too many _children in data In flex there was no _children in data so the data was well formed

1) mListXML = ![image](https://user-images.githubusercontent.com/42200979/150559044-7ba60a7

[2022-01-22 03:21] estanglerbm commented on #1173
Which version of Royale?

[2022-01-22 14:49] pashminakazi commented on #1173
@estanglerbm Latest version 0.9.9

[2022-01-22 14:50] pashminakazi commented on #1173
@estanglerbm can you please help me,XML data is not working properly as Dataprovider of DataGrid

[2022-01-22 23:38] estanglerbm commented on #1173
I haven't run your test case yet, but I think you probably need my changes from PR #1150 (originally part of PR #1127, but which I moved into a new PR due to concerns about PAYG by @Harbs).  These changes involve getting the correct labels, for things like datagrid cells, from XML.

I was extensively using XML to fill mx:AdvancedDataGrid, and it was working well, but it did require extensive chang

[2022-01-23 01:07] pashminakazi commented on #1173
@estanglerbm Thank u so much for your help, changes from PR #1150
<https://github.com/apache/royale-asjs/pull/1150> worked for me.

On Sun, 23 Jan 2022 at 4:38 AM, estanglerbm ***@***.***>
wrote:

[2022-01-23 02:03] estanglerbm commented on #1173
Great.

[2022-01-26 13:46] cristallium opened #1174 "RemoteObject : Channel.Ping.Failed when switch from sdk 0.9.8 to 0.9.9#4049"
Hi,

I had a little application wich use sdk 0.9.8 and work well.

I download last build 0.9.9 (#4049), do a project clean, and when launch the app, I have this error :

mx.rpc.events.FaultEvent {type: 'fault', target: undefined, currentTarget: undefined, propagationStopped_: false, defaultPrevented: false, …}

_faultCode:'Client.Error.MessageSend'
_faultDetail:'Channel.Ping.Failed error undefined

[2022-01-27 11:55] cristallium opened #1175 "URLLoader : Event.COMPLETE isn't fire if server return empty data (sdk 0.9.8)"
Hi,
I found this bug when porting an Air project to Apache Royale

In the following function 	, **ev_list_file_result()** is called only if the response data is >= 1 octet.
If response content-lenght is 0 the Event.COMPLETE is not fired.

![image](https://user-images.githubusercontent.com/6851433/151352971-a02446ba-cafa-4cd6-bb96-036fb9f45c91.png)

[code]

[code]

[2022-01-27 14:32] #1175 closed

[2022-01-27 14:34] Harbs commented on #1175
Please test and make sure the fix resolves your issue. Thanks!

[2022-01-28 18:23] pashminakazi opened #1176 "RegisterClassAlias called before it loaded into index.html"
I am calling registerClassAlias in my actionscript file  : registerClassAlias("EPS.Model.QueryInfo", QueryInfo);

Example : [RegisterClassAliasExample.zip](https://github.com/apache/royale-asjs/files/7960937/RegisterClassAliasExample.zip)

HelloWorld.mxml : https://paste.apache.org/ux9qa
HelloWorld.as : https://paste.apache.org/njfzi
QueryInfo.as : https://paste.apache.org/p1afp

Output screenshot

[2022-01-30 02:40] mjesteve commented on #1176
Hi Pashmina, I think the problem is inside the .as file.
You can't make the call to a function, in this case "registerClassAlias", if it is not inside another method.
Change the content of the .as file for this one:

[code]
And in the mxml add the call to the init() method:

[code]
You will see how it works.

[2022-01-30 13:57] pashminakazi commented on #1176
@mjesteve Thank u so much for your help :)

[2022-02-04 05:31] greg-dove opened #1177 "mx.controls.TextArea does not handle htmlText getter/setter"
setting htmlText does not work. (getting and setting causes errors with coercion to HTMLInputElement).

Also setting innerHTML does not seem to be a viable option for native <textarea>, so supporting this in the emulation version (assuming that sanitizer is also used) seems like it might need something else (contenteditable ?)

[2022-02-04 09:46] mjesteve commented on #1176
If there is no objection I close the issue. Pashmina?

[2022-02-04 23:22] #1176 closed

[2022-02-15 17:15] Nisaba opened #1178 "Datagrid failed after migration from 0.9.7 to 0.9.8"
Hi all,

I developped an application in SDK 0.9.7 derivated from TourDeJewel v.0.9.7

I switched to SDK 0.9.8, but now, all datagrids in my project crash.

Please see attachment.
Any idea ?
Thanks !

![image](https://user-images.githubusercontent.com/34550856/154113957-19850dfc-9e1b-4c6b-8b97-4419178cd28c.png)

[2022-02-15 17:54] mjesteve commented on #1178
Hi,
A lot has changed since version 0.9.7. Version 0.9.10 will be released in the next few days.
The first thing I would recommend is to compile with version 0.9.9 and after that can you isolate an example and share it?

Hiedra

[2022-02-15 18:38] mjesteve commented on #1178
True,
At https://royale.apache.org/get-involved/ you can access nightly builds "normally" BUT right now the server is down :(

test https://ci-builds.apache.org/job/Royale/job/Royale-asjs/

[2022-02-15 19:58] Nisaba commented on #1178
OK,
Now, I get the same error with 0.9.9

[2022-02-15 20:51] mjesteve commented on #1178
can you isolate an example and share it?

[2022-02-16 11:45] Nisaba commented on #1178
Here is a sample that crashes my application :

        <j:DataGrid localId="dg1">
            <j:columns>
                <j:DataGridColumn label="Type" dataField="Titre" columnWidth="100"/>
                <j:DataGridColumn label="En cours" dataField="NbEncours" columnWidth="100" align="center"/>
                <j:DataGridColumn label="Annulées" dataField="NbKO" columnWidth="100" align="center"

[2022-02-16 12:39] mjesteve commented on #1178
I don't see anything that tells me the origin of the error, are you sure that it is caused by the DataGrid and not, for example, by the "dataProvider" that you surely assign to it?

[2022-02-21 16:39] yishayw opened #1179 "ComboBox - Binding Too Late For selectedItem Display"
In this app

`<?xml version="1.0" encoding="utf-8"?>
<mx:Application xmlns:fx="http://ns.adobe.com/mxml/2009"
                xmlns:js="library://ns.apache.org/royale/basic">
    <fx:Declarations>
    </fx:Declarations>
    <fx:Script>
        <![CDATA[
            public function compute(value:String):String{
                return value;
            }
        ]]>
    </fx:Script>
    <mx:ComboBo

[2022-02-21 16:45] yishayw commented on #1179
In Flex the text for the combo is updated in updateDisplayList() which happens to occur after binding updates the data provider. In Royale however we initialize the text after combo box is added to parent, while the binding operation happens after the binding container is added to parent, which in this case happens later.

[2022-02-21 20:16] greg-dove commented on #1179
So at least a simple workaround might be something like:
[code]

And :
`<mx:ComboBox  width="250" top="30" dataProvider="{myDP}"/>`

I think that would mean that the earlier bindings should run first, before the dataProvider assignment binding, because iirc they are processed (at startup/addedToParent) in the order of their declaration. I realize that this is not a solution to the actual differenc

[2022-02-28 17:07] Nisaba commented on #1178
Hello,
Sorry for the delay.
The dataProvider is OK, all worked well with 0.9.7 framework.

I think the issue is about databinding and the initialisation of the application.
The dataProvider is initialized via a binding variable filled at the startup by a web service.

Are there many changes since 0.9.7 in terms of application initialization and databinding

[2022-02-28 17:28] aharui commented on #1178
If you can provide a simplified test case that can be downloaded and compiled it might help someone find time to debug it.

From: Nisaba ***@***.***>
Reply-To: apache/royale-asjs ***@***.***>
Date: Monday, February 28, 2022 at 9:11 AM
To: apache/royale-asjs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [apache/royale-asjs] Datagrid failed after migration from 0.9.7 to 0.9.8 (Issue #1178)

[2022-02-28 18:49] Nisaba commented on #1178
The application is quite complex, it will take a bit of time to isolate a simplified code, but I will deal with it.

Anyway, here is what can i say for now :
There is no problem with dataprovider or data binding since even this simple line of code crashes the application :

<j:DataGrid localId="dg2"/>

The simple fact of putting a datagrid on a page causes the application to crash at startup...

[2022-02-28 21:52] joshtynjala commented on #1178
@Nisaba When you switched from 0.9.7 to a newer version, did you do a clean build? In other words, did you delete your output directory containing the old generated .js files? If not, give that a try.

[2022-03-01 10:41] Nisaba commented on #1178
Great ! it works !
it was as simple as that!!
Thank you for the help !

[2022-03-01 15:38] #1178 closed

[2022-03-04 19:07] Nisaba opened #1180 "As3 / JS error in date properties"
Hello,

This code crashes:

        public function GetDateString(pDate: Date):String {
            if (pDate == null) return "";
            return pDate.day.toString() + "/" + pDate.month.toString() + "/" + pDate.fullYear.toString() +
                " " + pDate.hours.toString() + ":" + pDate.minutes.toString();
        }

Here is the error in the browser console:
Uncaught TypeError: pDate.getDa

[2022-03-05 09:50] Nisaba commented on #1111
Hi,

I use Royale 0.9.9

I've an issue about Datagrid sort that I could reproduce on the example :
https://royale.apache.org/tourdejewel/#!datagrid_panel

If we click on the "Load Data" button, the sort does'nt work anymore.

Thank you for your help

[2022-03-07 13:49] #1173 closed

[2022-03-11 20:53] alinakazi opened #1181 "MX Combobox doesn't Work with XML data"
https://drive.google.com/file/d/1yevsQrML4eaVTeD3-mdsG5e-uiZq_-xJ/view?usp=sharing

[2022-03-16 12:50] pashminakazi commented on #1181
Hi Yishay,
Can u make a change to make comboBox work proper without any change
we are using comboBox in our application as

[code]
event.result is having an XML type data

It was not working before your change and not after your change we have to make some changes to make it work but as we have 1000 of combobox in our application so we don't want to make change.

It works with this change
[code]

[2022-03-16 15:12] alinakazi commented on #1181
Object type data is handled within the application source code

[2022-03-16 15:12] #1181 closed

[2022-03-17 10:52] yishayw commented on #1181
I'm not sure there's a way around that. See the last few paragraphs of this guide

https://apache.github.io/royale-docs/migrate-an-existing-app/migrate-from-flex

[2022-03-21 16:07] santhoshpalan opened #1182 "ActionScript 3.0 sftp library"
Dear Apache Royale team ,
Is there any sftp client library for ActionScript 3.0?

[2022-03-23 13:57] yishayw opened #1183 "Initializing XML with explicit constructor messes up toString()"
If you look at this example

[code]

The label is empty.

But replacing

`var saveData:XML = new XML(<type/>);`

With

`var saveData:XML = <type/>;`

Shows the expected result.

[2022-03-23 14:15] Harbs commented on #1183
What does `new XML(<type/>)` compile to? I imagine it would be `new XML(new XML("<type/>"))`?

[2022-03-23 20:30] greg-dove commented on #1183
Actually this does work in AS3. The example is objectively not good code because it is essentially a double construction and provides no incremental value. But in general the constructor should accept XML as well. The problem is that the internal stringificatication is not viable for 'copying' the passed in XML arbitrarily, because XML stringification rules do vary depending on the content being s

[2022-03-24 08:08] yishayw commented on #1183
I guess in Flex that works, though it does seem like a strange way to initialize it. I was working that way on Flex app we're porting. I think @greg-dove  is working on it, so you might want to avoid duplicating the effort.

[2022-03-24 17:55] shahnaeem commented on #1183
yes, it compiles to new XML(new XML("<type/>"))

[2022-03-24 18:09] shahnaeem opened #1184 "sortCompareFunction property in case of AdvancedDataGridColumn is not working."
[code]

 if you look at this example , here sortCompareFunction="displayLabelCompare"  displayLabelCompare() method is not getting called due to which column data doesn't get sorted.
 Any idea , how to fix this bug?

[2022-03-25 01:50] greg-dove opened #1185 "Empty XMLList should have valueOf() return undefined instead of empty string"
Testing in flash:
[code]

[2022-03-28 17:32] joshtynjala commented on #1180
@Nisaba Could it be that `pDate` is not actually an instance of the `Date` type?

[2022-03-28 20:00] Nisaba commented on #1180
pDate is a Date type variable.
As it is specified in the AS3 code.

No warning in the code about that.
In the code, the calls to the GetDateString() function send Date variable.

Anyway, the AS3 compiler should prevent this issue, isn't it ?

Thanks

[2022-03-28 20:35] joshtynjala commented on #1180
Yes, the compiler certainly should prevent a value that isn't a `Date` from being passed to this function. However, something is obviously going wrong, so it seems to me that it's worth checking what the actual value is at runtime in your web browser.

[2022-03-29 00:57] SolidSoft-Lda opened #1186 "Data binding does not work for direct class"
1. ContainerDataBinding mxml

2.
<dg:DataGrid localId="grid" dataProvider="{data}">
    <dg:beads>
        <beads:DataGridOptions modelType="{TestGridModel}"/>
    </dg:beads>

3. The DataGridOptions bead it's a bead to dynamically add buttons to the Jewel DataGrid

4. Result: Data binding is not working.

Workaround (tested):

1.
public class TestConfig {
    public static const gridModel:Class =

[2022-03-29 04:31] greg-dove commented on #1183
I do have this fixed locally (with a combination of framework and compiler fixes), but still working on nuances for #1185 as well. I should be able to get both pushed within next 36 hours, with related unit tests.

[2022-03-29 06:22] aharui commented on #1180
The compiler is already checking the type information it has, but because the JS runtime does not do much type-checking, there is always a chance that what gets passed in at runtime is not what the type information told the compiler.

The stack trace at the exception can often contain clues, so please attach it if you can.

One of the most common places to lose type information is when converting

[2022-03-29 19:11] Nisaba commented on #1180
Yes, the date value come from a server response...
So what could I do ?

thanks

[2022-03-29 19:49] joshtynjala commented on #1180
The first thing I would do is figure out what type the actual value of `pDate` is at runtime (which is what I've been encouraging you to do). My guess is that it's a string, but you won't know until you check in the debugger, or possibly with `trace()`.

Once you know the type, you can to figure out how to convert that value into a proper `Date`. That conversion should probably happen in your code

[2022-03-30 11:06] cristallium commented on #1174
Adding this in main app solve the issue :

[code]

[2022-03-30 11:06] #1174 closed

[2022-04-01 07:20] cristallium commented on #1182
Hi,
I'm not an Apache Royale team, but if you want to use sftp client, I don't think as3 would be fine because raw Sockets aren't implemented (only WebSocket). So the best and easy way is to use a javascript library and wrap it to be use by as3 code. Here is an example on how to do this :
[https://royale.apache.org/using-external-javascript-libraries-in-apache-royale/](https://royale.apache.org/us

[2022-04-01 07:32] santhoshpalan commented on #1182
Hi @cristallium  ,
I will c=go through the above resource.
Thank you very much for your reply.

Btw, Application is packaged using HARMAN AIR. Would it still work?

[2022-04-01 07:50] cristallium commented on #1182
It seems your question wasn't for Apache Royale but for Air SDK. If this is the case, you could search for an FTP lib in as3 and use secure sockets (because sftp is ftp over TLS or SSL, but I'm not sure because of ftps ).

Here is some paths :

[https://stackoverflow.com/questions/53093201/as3-negotiating-ftp-es-connection](https://stackoverflow.com/questions/53093201/as3-negotiating-ftp-es-connec

[2022-04-01 08:03] Harbs commented on #1182
For browser apps, I'm pretty sure you can use BinaryUrlLoader for FTP (which uses XHR under the hood).

[2022-04-01 09:00] cristallium opened #1187 "How to have a floating Group always in front ? (like j:topbar or bottom bar)"
Hi,
I make a small app using TDJ structure like this :

[code]
I would like to have an "home" button always visible in the top left corner (or bottom left corner) like topbar or bottom bar.
Was is the best practice to do it ?

[2022-04-01 09:23] Harbs commented on #1187
If it's always in the same place, you probably want `position:sticky` or `position:fixed`. You should be able to apply the css to any element.

[2022-04-01 10:11] cristallium commented on #1187
Thanks, it do the trick, I thought that I can do it with j:Group

[2022-04-01 10:11] #1187 closed, assigned to nobody

[2022-04-02 09:35] SolidSoft-Lda commented on #1186
I accidentally discover that adding a local id value the issue does not happen.
Ex: <beads:DataGridOptions localId="options1" modelType="{TestConfig.gridModel}"/>

This also happens with other components as Jewel DataGrid.
The dataProvider binding only works when I set a localId to the DataGrid.

[2022-04-05 02:24] greg-dove commented on #1185
It was not quite as simple as swapping out the valueOf return value. But I do have this (with one small exception) and #1183 both addressed now, with additional unit test coverage. I will push them tomorrow and then further test these changes against a large codebase that makes use of these particular comparisons in some places (and probably other places not yet encountered).

[2022-04-05 06:54] yishayw commented on #1184
@shahnaeem , this example does not look right. You are using dataField="@displayLabel" , which means you are looking for an XML att named "displayLabel", but there is no XML data here.

[2022-04-05 09:46] shahnaeem commented on #1184
@yishayw have corrected it.
My apologies!

[2022-04-05 21:52] #1183 closed

[2022-04-05 21:52] #1185 closed

[2022-04-07 08:32] #1184 closed

[2022-04-07 12:10] cristallium opened #1189 "Jewel : setting FooterBar 's BarRow height is ignored by layout"
Hi,

Based on TDJ, setting an height for FooterBar in mxml make an issue on layout  :
[code]

the quick fix is to set the height in css like this :

[code]

[2022-04-08 15:07] cristallium opened #1190 "How to use ResourceManager ?"
Hi,
I have issue when trying to use RessourceManager

I have set this in asconfig.json :

[code]
( if I set locale/{locale} compiler complain about invalid source path )

files are `locale/fr_FR/AppMessages.properties` and `locale/en_US/AppMessages.properties`

content is like this :

`MENU_1=MyMenu1`

In App.mxml I added :
[code]

[code]
Could someone tell me how to do ? Thank in advance

[2022-04-10 08:36] cristallium commented on #1190
Digging in framework, I found this way to make it working :

[code]
I'm not sure that it's the best way..
I will make a full exemple to add it in exemples

[2022-04-10 08:36] #1190 closed, assigned to nobody

[2022-04-10 11:35] mjesteve commented on #1190
I have never used ResourceManager...
en_USAppMessages and fr_FRAppMessages is what the *.properties file is called?

[2022-04-10 11:39] mjesteve commented on #1190
I had not seen your PR... :P

[2022-04-10 12:45] cristallium commented on #1190
Yes, I do an exemple because it wasn't obvious for me to use it, so I hope it will be useful for other people.
However I don't know if is't the best way. In PR I'm using `embed `directive instead `ResourceBundle` because I didn't find a way to succes with ResourceBundle.
*.properties are the same for locales as Flex targeting  SWF.

[2022-04-12 17:12] cristallium opened #1192 "Jewel List : How to detect selectedChange event in an itemRenderer ?"
Hi, sorry if it's a noob question, but I'm stuck on an easy case :

I have a List like this  :

[code]

**The itemRenderer (CarListItemRenderer) :**

[code]

But `ev_selectionChanged()` is never called.

How to do to call this function **in the itemrenderer** when selection changed ?

I also tried this :

[code]
But the issue with this, is that on initComplete event, `this.itemRendererOwnerView` r

[2022-04-12 18:46] yishayw commented on #1192
Have you tried 'change' instead of 'selectionChanged'?

[2022-04-12 18:58] cristallium commented on #1192
Thank, for help.
`[Bindable("change")]` doesn't work
If you thought about `host.addEventListener("selectionChanged",ev_selectionChanged);` the issue is that this is never reach because this.itemRendererOwnerView is null on initComplete

[2022-04-12 19:23] yishayw commented on #1192
Looking at DataItemRendererFactoryBase.as it looks like item renderers are first added (triggering initComplete), and then initialized with owner among other things. I would try to add the event listener on set data, which happens after initialization.

[2022-04-12 19:44] cristallium commented on #1192
Many thanks !!! this is working like you said (calling addEventListener on set data)

[2022-04-12 19:44] #1192 closed, assigned to nobody

[2022-04-15 12:33] cristallium opened #1193 "TileHorizontalLayout compute wrong margin-right in case of scroller (ignoring scrollbar width)"
Hi,
I found a bug in a special case with `TileHorizontalLayout` (**the main goal is to have a list with itemrenderer on 2 columns**)

Take this exemple :

[code]

or this one :

[code]

ItemRenderer :

[code]

This is working fine if host has enough vertical room (no scrollbar appear) like this screenshoot
![image](https://user-images.githubusercontent.com/6851433/163570050-a946d648-c74f-4db2-9d8e

[2022-04-15 14:47] cristallium commented on #1193
The issue is certainly here :

**line 495** of **TileHorizontalLayout.as**

`// add dummy margin: avoid a tile from the next row stay in the previous row due to flexbox algorithm`

`child.positioner.style.marginRight = Math.floor(adjustedHostWidth - (1 + child.width + (child.width + _horizontalGap) * (_columnCount - 1))) + "px";`

something like if (scrollbar) minus scrollbar width could fix it :

[2022-04-15 17:47] cristallium opened #1194 "JSOnly Nightly Build is off line"
Hi
link for JSOnly Nightly Build
http://apacheroyaleci2.westus2.cloudapp.azure.com:8080/job/royale-asjs_jsonly/lastSuccessfulBuild/artifact/out/

is off line

[2022-04-16 12:10] cristallium commented on #1193
I dig a little more.
This is a little more complex than I thought .

I think about 2 options to fix it :
Option 1) Assuming host has `scroll `classname then we could reserve scrollbar width, the fix could be this one :

[code]

Option 2) We need to check if total height is greater than host height. The fix could be (to be paste just before loop throught childs to set styles) :
[code]
The issue wit

[2022-04-17 09:06] cristallium commented on #1193
Here is a test case project

![image](https://user-images.githubusercontent.com/6851433/163707949-2e1a5104-09dc-4d96-bba4-4a40cb30a057.png)

[TestRoyale7.zip](https://github.com/apache/royale-asjs/files/8501272/TestRoyale7.zip)

[2022-04-18 12:29] mjesteve commented on #1193
Hello cristalio, I have also encountered this problem and like you I have applied different patches. My level is medium-low for and my patches are not good, for this reason I have never shared them.
I think the first thing to find out is the "width of the scroll bar" as it can be different depending on the browser and even the CSS (I, for example, have customized the CSS style of the scroll bars a

[2022-04-18 13:41] piotrzarzycki21 commented on #1194
@cristallium I recommend you to use binary distribution produced by maven on this website https://nightlies.apache.org/Royale/Royale-asjs/ or download [Moonshine SDK Installer](https://moonshine-ide.com/download-sdk-installer/) - Where you can easly install released and nightly version of Royale.

[2022-04-18 16:02] mjesteve commented on #1193
[TestRoyale7.zip](https://github.com/apache/royale-asjs/files/8506704/TestRoyale7.zip)

This is a way to get the width of the scroll bar but as it is implemented in a client script it is not a valid solution for the SDK.

In the html template I have replaced ${body} with this script:
[code]

[2022-04-18 16:03] aharui commented on #1194
We usually run out of free credits around the 15th and get new free credits a few days later.  I just restarted the VM.  Looks like it is running.

From: Piotr Zarzycki ***@***.***>
Reply-To: apache/royale-asjs ***@***.***>
Date: Monday, April 18, 2022 at 6:41 AM
To: apache/royale-asjs ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [apache/royale-asjs] JSOnly Nightly Build is off line (Issu

[2022-04-19 01:34] mjesteve commented on #1193
A much easier possible solution?... (In the List `hostComponent.containsClass("scroll")`  always true)

[code]

[2022-04-19 07:45] cristallium commented on #1193
Hi @mjesteve ,

Thanks for your feed back, and sharing your code.
I believe that `TileHorizontalLayout`  can be use in 2 contexts :

- `scroll `context like `j:List` or `j:ScrollableSectionContent`
- no scroll context like `j:SectionContent` or like in the exemple of TDJ (in this case the container height grow with number of children).
Here is a screenshoot of TDJ : (hostComponent.containsClass("s

[2022-04-19 07:51] cristallium commented on #1194
Hi All,
Many thanks for there informations and links from Maven, I didn't know about the issue of credits

[2022-04-19 07:51] #1194 closed, assigned to nobody

[2022-04-25 21:39] mjesteve commented on #1193
[code]
You are right.
I also tested with TDJ and with the blog example "[BE0015_Using_Jewel_TileHorizontalLayout](https://github.com/apache/royale-asjs/tree/develop/examples/blog/BE0015_Using_Jewel_TileHorizontalLayout)".

`Getting scrollbar width is not obvious. I read some posts like https://stackoverflow.com/questions/13382516/getting-scroll-bar-width-using-javascript but this seem very tricky

[2022-04-25 23:05] mjesteve commented on #1193
On mac the behavior is totally different. (I never work with mac and had not seen it).

I think if there was a way to get, truthfully or acceptably, the width of the scroll I would prefer it. If we can't get it, should we create a new property or a bead?

Let me know your thoughts.

[2022-04-28 18:38] cristallium commented on #1193
Hi Maria,

I share the same thought from you : if there was a way to get, truthfully or acceptably, the width of the scroll it would be better. When you said "mac" are you talking of "safari" web browser ? If yes I search a little on Internet, but found nothing interessing to get safari scrollbar width.
Do you think other Apache Royale team would have an advice on it ?
Actually I didn't see any so

[2022-04-28 22:24] mjesteve commented on #1193
Let's ask it on the list [@dev](https://lists.apache.org/list.html?dev@royale.apache.org) :P

[2022-04-29 06:31] cristallium commented on #1193
Sorry, I don't know what is the goal of list dev ?
Can I do a PR like  https://github.com/apache/royale-asjs/pull/1191 if you tell me the big picture ? Or do I need to make a topic on list dev to be able to do a PR ? Please tell me the rules.
By the way, could you give me a feedback of https://github.com/apache/royale-asjs/pull/1191 ? Is something wrong ? If yes could you tell me what to correct t

[2022-04-29 07:21] mjesteve commented on #1193
Sorry cristalio, I misspoke.... "I ask". I'll come back here with comments.
You can subscribe to the development list and ask your questions or post your comments there. https://royale.apache.org/mailing-lists/

[2022-04-29 08:15] mjesteve commented on #1193
For clarity, avoid mixing several issues in the same PR. It is best to make a separate PR for each issue.

[2022-04-29 08:41] mjesteve commented on #1193
Already done:
https://lists.apache.org/thread/qmm2om6rh1brz60r4ty72zwonsx3btrh

[2022-04-29 09:51] cristallium commented on #1193
Thanks Maria, I think I had already subscribed because I received by mail your post

[2022-05-18 11:21] #1193 closed, assigned to nobody

[2022-05-25 07:03] greg-dove opened #1198 "Multiple issues with mx:Tree ( during dynamic updates with XML)"
Attached is both a Flex reference example (which works) and the current royale emulation of the same, which demonstrates the issues.

Also see the commit discussion thread at: https://github.com/apache/royale-asjs/commit/acab343f73b939bb3b28a13f9142cba4f799104a

(It is currently possible to enter an infinite loop when opening nodes using the royale example)

**Additional Info**
I will continue to

[2022-05-26 12:03] jgomer2001 opened #1199 "question: drag and drop in Royale"
Hi there, this is a general question. Any insight appreciated.

I used to be skilled at as3 + mxmlc back in those times of Flash/Flex glory and I'm happy to find there exists a high quality project that brings this knowledge to the scene again

I'm trying to figure out the capabilities that Royale offers regarding drag and drop. I found issue #1114 so it seems there is basic supported. My target i

[2022-05-26 14:27] mjesteve commented on #1199
Hi, my experience with D&D is small but it was satisfactory (let's wait for other users to comment their experiences).

As for the diagramming libraries, if they are in js, they can be consumed by Royale without problems (at this point "I'm not an expert" but I currently consume several js libraries in my projects: Apache ECharts, jsCalendar, Inspire-Tree, Virtual-Select, ...)

Consulta la documen

[2022-05-31 12:31] jgomer2001 commented on #1199
I would like other contributors to comment as well, thank you all
@joshtynjala @greg-dove @piotrzarzycki21 @yishayw @Harbs

[2022-05-31 14:34] yishayw commented on #1199
DragAndDrop is a library that helps drag items in a list to a target list (including DG etc.). DragBead can be attached to controls to make them draggable.

I agree with @mjesteve  about using 3rd party libs.

[2022-06-01 13:44] yishayw opened #1202 "States - excludeFrom ignored"
In the following app I expect the second trace statement to fail, but it doesn't

[code]

[2022-06-02 05:14] yishayw commented on #1202
Closing this, states were referenced with the wrong case (stateB instead of StateB).

[2022-06-02 05:14] #1202 closed, assigned to nobody

[2022-06-13 10:53] yishayw opened #1203 "Array - sortOn fails for XML data"
In this app

[code]

I would expect the trace output to be 'a' (as it is in Flex), but instead it is 'b'.

Apparently flash player knows how to parse XML and can sort an array of XML objects, but Language.as does assumes the objects are simple and does not read `@label` correctly.

As, in Royale, XML is a separate library the question is whether Language.as where this sortOn function is location,

[2022-06-13 22:17] estanglerbm commented on #1203
https://github.com/apache/royale-asjs/pull/1150

[2022-06-16 01:27] greg-dove commented on #1198
I have 'resolved' this issue locally and will work over the coming weekend to a) explain the issues and b) create a branch for others to test with if there is sufficient interest in doing that before merging. As part of the work on this, I figured out why there are certain cases of infinite loops in XML notifications, for example, and I will explain that.

[2022-06-16 01:28] greg-dove commented on #1198
@estanglerbm  in particular I would welcome your input on this if you are available/inclined to do so, as you pretty much kicked things off here... and I am not sure why you weren't seeing some of the issues I was seeing, because I assume you are using dynamic Tree stuff somewhere in your code. Hopefully you might have a chance to try the changes against whatever codebase you are working on and pr

[2022-06-20 02:27] greg-dove commented on #1198
Sorry, I will need a few more days before I can follow through on this. I suspect it will be the next weekend now.

[2022-06-20 14:46] sebbASF opened #1204 "website requirements page doesn't mention privacy aspects of 3rd party resources"
https://github.com/apache/royale-asjs/wiki/Royale-website-requirements

does not mention not using cookies/trackers etc:

https://privacy.apache.org/faq/committers.html

[2022-07-02 00:40] estanglerbm commented on #1198
I'll try to provide input.  I just noticed updates on this issue (not getting email about it for whatever reason).

[2022-07-04 14:04] KiaWeb commented on #877
Have you tried getting it from Flex code? I tried it and I didn't find the source.

[2022-07-04 14:08] KiaWeb commented on #877
I found in Adobe Animate that it has ContextMenu and ContextMenuItem.as.

[2022-07-12 06:05] yishayw opened #1205 "XML - Implied Attribute Access Not Working In Royale"
In Flex

[code]

Traces

`<node a="2"/>`

But in Royale

[code]

Outputs

`<node a="1"/>`

[2022-07-29 02:30] #860 closed

[2022-08-29 17:13] yishayw opened #1206 "Emulation - percentHeight behaves differently"
In Flex, setting height of 100% on object A does not necessarily mean it stretches to the size of its container B, whereas in Royale this is always the case.

In this example

[code]
The Flex example will show all canvases (red, green, and blue) stretching to a height of 1800 pixels, but in Royale, only the green canvas is sized to 1800 pixels, whereas the rest remain the size of the screen.

[2022-08-29 20:34] greg-dove commented on #1206
I will look into this, I have spent a great deal of time working on improving the emulation layouts (and will create a new branch for review soon). IIRC the Box layouts have a branch for handling a 'single' child situation (presumably optimized compared to the multiple children scenario) and I suspect the issue is in this code.

[2022-09-04 17:41] yishayw opened #1207 "Emulation - DragManager not showing drop icon"
In the following example there should be an example with an 'X' unless the drop target is moved over

[code]

[2022-09-04 17:57] yishayw opened #1208 "Emulation - Panel's internal container does not default to Panel's size"
In below example you can see in Royale the content expanding beyond the panel's height, whereas in Flex there's a scrollbar in the Panel.

[code]

[2022-09-05 04:26] greg-dove commented on #1208
The problem here is the minHeight getter on PanelInternalContainer which is defaulting to measuredMinHeight.
Simply setting
this.minHeight = 0;
in the PanelInternalContainer constructor might be one option to fix this. The way this is set up is quite different to how flex manages the content pane I think, so we might just have to apply some changes to get the behavior to be the same or at least si

[2022-09-05 09:34] yishayw commented on #1208
This is in contrast to the following scenario, which works as expected:

[code]

[2022-09-05 12:36] #1208 closed, assigned to yishayw

[2022-09-05 12:52] yishayw commented on #1208
This problem may have been introduced in 8af26f74e1e567ac47b936937a4072f2c2b19a53 by @aharui

Specifically, this line
[code]
in UIComponent.get__measuredHeight() sets measured min height of panel's internal container to its content measured height. This essentially overrides BoxLayout's flexing algorithm for percentHeight children.

As mentioned above layout is ok with other components, so I did n

[2022-09-06 03:27] greg-dove commented on #1206
I looked into this.
I must say this Flex behavior does not make intuitive sense to me, and the Royale behavior seems more correct IMO. There are only top-down percent-based Container constraints that request "percentage of space in the parent". There is nothing here as a container that says to me: "size to content", so I would intuitively expect to see scrollbars on the Box containing the oversize

[2022-09-10 19:29] KiaWeb opened #1209 "Converting AS3 to JS, with some flaws?"
Is it possible to convert AS3 to JS?
If so, please tell me the command line command to build the AS3 from src.
I'm also confused if we can convert AS3 to JS about how we can use flashvars.
I can't seem to find a way to make an emulation component, so I need a full tutorial on that.

[2022-09-11 06:30] yishayw commented on #1206
It's been a while for me as well since I got into the docs relating to Flex's layout.

This excerpt from [Flex_4.6_help.pdf](https://help.adobe.com/archive/en_US/flex/using/flex_4.6_help.pdf) may provide a clue

Determining container size
Flex uses the following basic rules, in addition to the basic component sizing rules, to determine the size of a container:
•
A percentage-based container size i

[2022-09-11 06:38] yishayw commented on #1209
Are you looking for something like this?

https://apache.github.io/royale-docs/migrate-an-existing-app/migrate-from-flex

[2022-09-11 06:41] yishayw commented on #1209
Or, to create emulation components you might want to start here

https://github.com/apache/royale-asjs/wiki/emulation-components

[2022-09-14 18:48] #1199 closed, assigned to nobody

[2022-09-21 06:55] yishayw opened #1210 "Make mx:Tree drag&droppable"
This example should be drag&droppable

[code]

[2022-10-05 21:40] Rileran opened #1211 "Can't build project Framework: Libs: Graphics"
One of the dependencies of project Framework: Libs: Graphics is `apache.royale-sdk-pixel-bender-1.0.0-bin.zip`, which is supposed to be downloaded from https://ftp-stud.hs-esslingen.de/pub/Mirrors/ftp.apache.org/dist/flex/pixelbender/1.0/binaries/apache-flex-sdk-pixel-bender-1.0.0-bin.zip (see `pixelbender.download-url` in `frameworks/projects/Graphics/pom.xml`).

However the site doesn't seem to

[2022-10-12 14:57] yishayw commented on #1210
56fecab4634dade30e29959966947f7f9f38d982 fixes this particular example.

[2022-10-12 14:57] #1210 closed, assigned to nobody

[2022-10-18 12:43] yishayw opened #1212 "Emulation - Drag&Drop needs to support multi-selection"

[2022-10-18 12:45] yishayw opened #1213 "Emulation - DragSource.dataForFormat() needs to be implemented"

[2022-10-18 12:46] yishayw opened #1214 "Emulation - ColorPicker layout issues"

[2022-10-18 12:47] yishayw opened #1215 "Emulation - DragManager.showFeedback() needs to be implemented"

[2022-10-26 10:30] yishayw commented on #1211
Hi Rileran, I just clicked on the link you posted above, and it looks active to me. Is the build still failing for you?

Also, I don't know if you are outputting to swf at all, but I seem to recall pixelbender was only required for swf. If you are only interested in JS output then you can configure your (maven?) build to output to JS only and that lib should not be a requirment.

[2022-11-03 13:21] yishayw commented on #1212
Tree multi-selection cases solved in 17045f6170070b9f287a4f55723bd8dca6166576 pending merge of d_and_d_improvemets branch to dev

[2022-11-08 06:33] greg-dove commented on #1214
![Flex_ColorPicker_Example_Screenshot 2022-11-08 193024](https://user-images.githubusercontent.com/4569046/200491698-dc9867c5-846c-44ca-ad52-151fab6f22f9.png)

Adding a screenshot example of Flex Color Picker for reference